.ecommervanilla_react{
    background-color: #f0939e;
}

.ecommervanilla_react img{
    width: 100%;
}

.container-description.ondescription{
    top: 0;
}

.ecommervanilla-img{
    width: 100%;
    height: 340px;
}