.container-translate{
    position: absolute;
    top: 0.5em;
    right: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    z-index: 5;
}

.btn-translate{
    background-color: transparent;
    font-size: 1.2rem;
    font-weight: 800;
}

.container-pages{
    height: 100vh;
    margin-left: 65px;
    background-color: #aaa;
}

.cursor{
    height: 0.5em;
    width: 0.5em;
    position: fixed;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 0.5em #000;
    z-index: 10;
}

@media screen and (max-width: 1000px){
    .cursor{
        visibility: hidden;
    }
}


